body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 20px;
}

h1,
h2 {
	color: #333;
}

a {
	text-decoration: none;
	color: #007BFF;
	margin-right: 10px;
}

a:hover {
	text-decoration: underline;
}

table {
	width: 80%;
	margin-top: 20px;
	border-collapse: collapse;
}

table,
th,
td {
	border: 1px solid #bbb;
}

th,
td {
	padding: 10px;
	text-align: center;
}

form {
	background-color: #fff;
	padding: 20px;
	width: 400px;
	box-shadow: 0px 0px 10px 0px #aaa;
}

input[type="text"],
input[type="email"] {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
}

input[type="submit"] {
	background-color: #28a745;
	color: #fff;
	padding: 10px;
	border: none;
	width: 100%;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #218838;
}